<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Assure | Diagnose Workflows Script</title>
  <meta name="description" content="Portfolio for world-renowned travel photographer Amy McAdams.">
  <meta name="author" content="Justin Seeley">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>

   <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{{ '/static/normalize.css'|url }}">
  <link rel="stylesheet" href="{{ '/static/skeleton.css'|url }}">
  <link rel="stylesheet" href="{{ '/static/style.css'|url }}">
  <link rel="stylesheet" href="{{ '/static/fonts/font-awesome/css/font-awesome.min.css' |url}}">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<body>

<header class="main_nav green">
	<div class="container">
		<div class="twelve columns">
			<div class="logo"><a href="/">Diagnose Workflows</a></div>
		</div>
	</div>
</header>


<div class="page">
  {% block body %}{% endblock %}
</div>


<footer>
	<div class="container">
    <!--
		<div class="row twelve columns">
			<ul class="social">
			<li class="facebook"><a href="#"><i class="fa fa-facebook-square fa-lg"></i></a></li>
			<li class="twitter"><a href="#"><i class="fa fa-twitter-square fa-lg"></i></a></li>
			<li class="instagram"><a href="#"><i class="fa fa-instagram fa-lg"></i></a></li>
			<li class="flickr"><a href="#"><i class="fa fa-flickr fa-lg"></i></a></li>
			<li class="youtube"><a href="#"><i class="fa fa-youtube-square fa-lg"></i></a></li>
			<li class="linkedin"><a href="#"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
			</ul>
		</div> -->
		<div class="row twelve columns">
			<p>&copy; 2017 Spark Assure Diagnose Workflows. All Rights Reserved.</p>
		</div>
	</div>
</footer>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
